.container{
	background-color: #313131;
}

.header{
	background-color: #4F5144;
}

.navigation{
	background-color: #4F5144;
	float: left;
	width: 33%;
	margin: 0 1,5% 24px 0;
}

.content{
	background-color: #4F5144;
	float: left;
	width: 33%;
	margin: 0 1,5% 24px 0;


}

.sidebar{
	background-color: #4F5144;
	float: left;
	width: 33%;
	margin: 0 1,5% 24px 0;


}

.footer{
	background-color: #4F5144;
	clear: both;
}