<div id="addMovie">
	<fieldset>
	<legend>Add a new movie</legend>
	<ul>
		<li><label for="name">Name: </label><input type="text" name="name" id="name" value="" required></li>
		<li><label for="year">Year: </label><input type="number" name="year" id="year" value="" required></li>
		<li><label for="duration">Duration: </label><input type="text" name="duration" id="duration" value="" required></li>
		<li><label for="genre">Genre: </label><input type="text" name="genre" id="genre" value="" required></li>
		<li><label for="description">Description:</label></br><textarea name="description" id="description" cols="30" rows="10"></textarea></li>
		<li><label for="director">Director: </label><input type="text" name="director" id="director" value="" required></li>
		<li><label for="actors">Actors: </label><input type="text" name="actors" id="actors" value="" required></li>
		<li><label for="image">Image: </label> <input type="file" name="image" id="image" value="" /></li>
	</ul>
	<ul>
		<li>
			<button class='saveMovie'>Add Movie</button>
		</li>
	</ul>
	</fieldset>
</div>