@media all and (max-width: 519px) {
	html{
		font-size: 70%;
	}
	#imgList{
		width: 112px;
		height: 150px;
	}

	#imgDetails{
		width: 112px;
		height: auto;
	}

	#panelList{
		width: 98%;
		clear: both;
	}

}
@media all and (max-width: 699px) and (min-width: 520px) {
	html{
		font-size: 80%;
	}
	#imgList{
		width: 135px;
		height: 190px;
	}
	#imgDetails{
		width: 160px;
		height: 222px;
	}

}
@media all and (max-width: 1000px) and (min-width: 700px) {
	html{
		font-size: 90%;
	}
	#imgList{
		width: 160px;
		height: 222px;
	}
	#imgDetails{
		width: 176px;
		height: 254px;
	}
	

}
@media all and (min-width: 1001px) {
	html{
		font-size: 100%;
	}
	#imgList{
		width: 176px;
		height: 254px;
	}

}

header{
	background-color: #C2C5BA;
	color: #FFFFFF;
	text-align: center;
	padding: 2px;
}

h1{
	font-family: 'Raleway', "Helvetica Neue", Helvetica;
	text-shadow: 0px 2px 3px #404237;

}
.panel img{
	padding-right: 2%;
}
#panelList{
	margin-right: 1%;
	margin-left: 1%;
	width: 48%;
	float: left;
}

.panel.details{
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
.row.search{
	padding: 2%;
}

.special{
	font-weight: bold;
}

.actor{
	padding-left: 2%;
}

ul{
	list-style-type: none;
}

form{
	padding: 40px;
}

#buttonAdd{
	margin-top: 5px;
	
}